.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center/cover;
    /*clip-path: polygon(0% 0%, 80% 10%, 100% 100%, 20% 90%);*/
    z-index: -1;
}

.login-box {
    border-radius: 50px;
    border-width: 8px;
    border-style: solid;
    border-color: #2f7157;
    min-width: 200px;
    max-width: 450px;
    min-height: 340px;
    max-height: 650px;
    background-color: white;
}

.logo-tennis {
    min-width: 100px;
    max-width: 150px;
    min-height: 100px;
    max-height: 150px;
}