.menu-item {
    background-color: #2f7157;
    color: white;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.menu-item:hover {
    background-color: #4f9f7f;
}