@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.my-font {
    font-family: "Oswald", sans-serif;
}

.my-button.btn-primary {
    background: #2f7157;
    border-color: #2f7157;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.my-button.btn-primary:active,
.my-button.btn-primary:hover {
    background: #109661FF !important;
    border-color: #2f7157 !important;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.my-button.btn-primary:disabled {
    background: #53987b;
    border-color: #2f7157;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.my-button-outlined.btn-primary {
    color: #2f7157;
    background: white;
    border-color: #2f7157;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.my-button-outlined.btn-primary:active,
.my-button-outlined.btn-primary:hover {
    color: white !important;
    background: #109661FF !important;
    border-color: #2f7157 !important;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 10px) {
    .modal {
        --bs-modal-margin: 3rem !important;
    }
}